/* Styles go here */
body{
    background-color: #fff2df;
}
.header {    
    color:white;
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none !important;
}

.header a{
    text-decoration: none !important;
}


.navbar-custom {
    justify-content: normal;
}

.account-detail {
    color:white;
    margin-left: 260%;
    font-size: 15px;
}